
.bp3-tab-list {
   padding : 40px;
}

.bp3-tab {
    color : white;
    height : 50px;
    display : flex;
    align-items: center;
    justify-content: center;
    font-size : 1.2em;
    padding : 0;
    margin : 0;
}

.bp3-tab-panel {
    display : flex;
    flex : 1;
    height : 100%;
    /* border : 1px solid red; */
}
